body {
  background-color: #2c3e50;
}

h1 {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #41b883;
  text-shadow: 2px 2px 40px #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 5px;
}

.tableRow {
  background: #efefef;
  padding: 5px 0px 0px 0px;
  border: 1px solid #babfbd;
}

.plus-button-container {
  background: #f9f9f9;
  border-top: 3px solid #41b883;
}

.flex-container {
  display: flex;
  padding-left: 2px;
  width: 100%;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 0px;
  width: 100%;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex-tableHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #babfbd;
  border-top: 3px solid #41b883;
  justify-content: center;
}

.header-text{
  padding: 8px 0px 0px 0px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  white-space: pre-wrap;
  text-transform: capitalize;
  color: #000;
  width: 100%;
}

.plus-button{
  font-size: 25px;
  cursor: pointer;
  color: #41b883;
  margin-top: 10px;
  margin-left: 5px;
}

.plus-button:hover{
  color: #5dd6a0;
}

.flex-minus-button {
  display: flex;
  margin-top: 10px;
  padding-left: 9px;
}

.minus-button{
  font-size: 21px;
  cursor: pointer;
  color: #f30000;
}

.minus-button:hover {
  color: #ea5d5d;
}

.container-check {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 15px 0px 0px;
}

.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fefefe;
}

.radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fefefe;
  border-radius: 10px;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkbox {
  background-color: #ccc;
}

.container-check:hover input ~ .radio {
  background-color: #ccc;
}

/* When the checkbox is checked, add a green background */
.container-check input:checked ~ .checkbox {
  background-color: #41b883;
}

.container-check input:checked ~ .radio {
  background-color: #41b883;
}

/* Create the checkbox/indicator (hidden when not checked) */
.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkbox when checked */
.container-check input:checked ~ .checkbox:after {
  display: block;
}

.container-check input:checked ~ .radio:after {
  display: block;
}

/* Style the checkbox/indicator */
.container-check .checkbox:after {
  left: 8px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container-check .radio:after {
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border: solid white;
  border-width: 5px 5px 5px 0;
  border-radius: 7px;
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.check-text {
  padding-left: 24px;
  color: #000;
}
